<form action="/" method="POST">
  <input type="url" name="url" placeholder="請輸入網址" required>
  <button type="submit">Shorten</button>
</form>

{{#if url}}
<p style="background:yellowgreen;padding:10px;">{{url.url}}</p>
<p style="background:skyblue;padding:10px;">http://localhost:3000/{{url.random}}</p>
{{/if}}

{{#if urlData}}
<p style="background:yellowgreen;padding:10px;">{{urlData.url}}</p>
<p style="background:skyblue;padding:10px;">http://localhost:3000/{{urlData.random}}</p>
{{/if}}

{{#if error}}
<p style="background:red;padding:10px;">Error!</p>
{{/if}}